<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Weixin-java-tool-suite" verbose="1">
    <test name="Sys_Service_Test">
        <classes>
            <class name="com.its.smart.web.service.sys.BusinessServiceTest"/>
        </classes>
    </test>

    <test name="SYS_Controller_Test">
        <classes>
            <class name="com.its.smart.web.controller.sys.BusinessControllerTest"/>
        </classes>
    </test>
</suite>
